.background {
  viewport-fill: fb-black;
}

text {
  fill: fb-white;
}

.time text {
  text-anchor: middle;
}

#time {
  font-size: 100;
  font-family: System-Bold;
  text-length: 5;
}

#date {
  font-size: 40;
  font-family: System-Regular;
  text-length: 20;
}

.health text {
  font-size: 30;
  font-family: System-Regular;
  text-anchor: start;
}
text.target {
  fill: fb-light-gray;
}
text.goalMet {
  fill: fb-mint;
}
text.goalNear {
  fill: yellow;
}

#heart-rate-current {
  text-length: 3;
}
#heart-rate-current.red {
  fill: fb-red;
}
#heart-rate-current.amber {
  fill: fb-yellow;
}
#heart-rate-average {
  text-length: 19;
  fill: fb-light-gray;
}

#step-count {
  text-length: 6;
}
#step-target {
  text-length: 10;
}

#calories-count {
  text-length: 5;
}
#calories-target {
  text-length: 8;
}
