.background {
    width: 100%;
    height: 100%;
    viewport-fill: black;
}

text {
    fill: white;
}

line {
    fill: #222222;
}

#time {
    font-size: 80;
    font-family: System-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 70;
}

#date {
    font-size: 30;
    font-family: System-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 101;
}
