.background {
  viewport-fill: black;
}

text {
  fill: white;
}

line {
  fill: #666666;
}

.time text {
  text-anchor: middle;
}

text.target {
  fill: #999999;
}
text.goalMet {
  fill: lightgreen;
}
text.goalNear {
  fill: lightyellow;
}
text.goalNotMet {
  fill: lightcoral;
}

#time {
  font-size: 100;
  font-family: System-Bold;
  text-length: 5;
}

#date {
  font-size: 40;
  font-family: System-Regular;
  text-length: 20;
}

.health text {
  font-size: 30;
  font-family: System-Regular;
  text-anchor: start;
}
#heart-rate-current {
  text-length: 3;
}
#heart-rate-average {
  text-length: 19;
  fill: #999999;
}

#step-count {
  text-length: 6;
}
#step-target {
  text-length: 10;
}

#calories-count {
  text-length: 5;
}
#calories-target {
  text-length: 8;
}
